!!!doctype
html
  head
    title Large Gittip badges
  body
    :markdown
      # Large [Gittip][gittip] badges
      This is a service for generating large [Gittip][gittip] badges.

      [gittip]: http://gittip.com/

      ## API
      **/** - Help / usage information.

      **/:username** - Screenshot of large badge for Gittip user. Badge used will be Widget #2 found on your Gittip Widgets page.
